 .slick-prev, .slick-next {
 
z-index: 2;

 } 
 .slick-prev{
    left: 25px;
   }
   .slick-next{
      right: 25px;
   }
   .slick-track
   {
       display: flex !important;
   }
   
   .slick-slide
   {
      height: 100%;
       height: inherit !important;
       
   }
 

 